<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM Bibliothèque des techos - Accueil</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.0em;
            padding-left: 0.5em;
        }
    </style>
</head>
<body>
<h1>Bienvenu sur la page d'accueil de la Bibliothèque des Techos</h1>

<p>Accéder à l'application de CRM:</p>
<ul>
    <li>cliquez ici pour votre première connexion:
    <a href="http://127.0.0.1:8000/crm_app/nouveau/">Lien de l'application</a></li>
    <li>cliquez ici pour vous connecter:
        <a href="">Connexion</a></li></ul>

</body>
</html>