<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM Bibliothèque des techos - Accueil</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.0em;
            padding-left: 0.5em;
        }
    </style>
</head>
<body>
Bienvenu sur la page d'accueil de la Bibliothèque des Techos

Accéder à l'application de CRM:
en cliquant ici:
<a href="http://127.0.0.1:8000/crm_app/nouveau">Lien de l'application</a>
</body>
</html>